* { font-family: 'Noto Sans KR', sans-serif; }

::selection {
  color: white;
  background-color: yellow;
}
html, body {
  height: 100%;
}
header {
top: 0;
left: 0;
right: 0;
position: fixed;
height: 40px;
padding: 1rem;
padding-top: 5px;
padding-bottom: 11px;
color: white;
background: #A0A0FF;
justify-content: space-between;
align-items: center;
display: flex;
}
.teamname {
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    font-family: 'Oswald', sans-sans-serif;
    color: white;
}
body {
overflow: auto;
margin: 0;
display: flex;
flex-direction: column;
min-height: 100%;
}
.webpage{
  text-decoration: none;
}
.webpage:link { color: black; text-decoration: none; }
.webpage:visited { color: black; text-decoration: none; }
.webpage:hover { color: black; text-decoration: none; }
.webpage:active { color: black; text-decoration: none;}
.github {
   text-decoration: none;
}
.moving:link { color:white; }
.moving:visited { color:white; }
.moving:hover { color: white; padding-left: 10px;}
.moving:active { color: white;}

.moving{
  text-decoration: none;
}
.git{ text-decoration: none;}
.git:link { color: black; }
.git:visited { color: black; }
.git:hover { color: black; }
.git:active { color: black;}
ul{
   list-style:none;
   }
footer {
  color: black;
  background: #A0A0FF;
  padding: 1.8em;
  margin-top: auto;
}
.maindiv{
width: 80%;
margin: 9px auto;
display: flex;
}
.us {
  flex:1;
  width:28%;
}
.maindev {
  flex: 1;
  margin: 0px 4%;
  width: 28%;
}
.con {
  flex: 1;
  margin: 0px 4%;
  width: 28%;
}
.SNS {
  flex: 1;
  width: 28%;
}
.made {
  position: relative;
  bottom: -10%;
  left: 45%;
}
