* { font-family: 'Noto Sans KR', sans-serif; }

::selection {
  color: white;
  background-color: yellow;
}

.출처 {
  color: gray;
  height: 1px;
}

html, body {
  height: 100%;
}
header {
height: 40px;
padding: 1rem;
padding-top: 5px;
padding-bottom: 11px;
color: white;
background: #A0A0FF;
justify-content: space-between;
align-items: center;
display: flex;
}
.teamname {
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    font-family: 'Oswald', sans-sans-serif;
    color: white;
}
body {
overflow: auto;
margin: 0;
display: flex;
flex-direction: column;
min-height: 100%;
}
.webpage{
  text-decoration: none;
}
.webpage:link { color: black; text-decoration: none; }
.webpage:visited { color: black; text-decoration: none; }
.webpage:hover { color: black; text-decoration: none; }
.webpage:active { color: black; text-decoration: none;}
.github {
   text-decoration: none;
}
.moving:link { color:white; }
.moving:visited { color:white; }
.moving:hover { color: white; padding-left: -10px;}
.moving:active { color: white;}

.moving{
  text-decoration: none;
}
.git{ text-decoration: none;}
.git:link { color: black; }
.git:visited { color: black; }
.git:hover { color: black; }
.git:active { color: black;}
ul{
   list-style:none;
   }
footer {
  color: black;
  background: #A0A0FF;
  padding: 1.8em;
  margin-top: auto;
}
.maindiv{
width: 80%;
margin: 9px auto;
display: flex;
}
.us {
  flex: 1;
  width: 20%;
}
.maindev {
  flex: 1;
  width: 20%;
}
.con {
  flex: 1;
  width: 20%;
}
.con a{
  height: 10px;
}
.SNS {
  flex: 1;
  width: 20%;
}
.made {
  position: relative;
  bottom: -5%;
  left: 45.4%;
}
.img1 {
  background: #A0A0FF;
  background-size: cover;
  border-radius:30% 30% 30% 30%;
  color: black;
}
.img2 {
  background: #A0A0FF;
  background-size: cover;
  border-radius:30% 30% 30% 30%;
  color: black;
}
.img3 {
  background: #A0A0FF;
  background-size: cover;
  border-radius:30% 30% 30% 30%;
}
.img4 {
  background: #A0A0FF;
  background-size: cover;
  border-radius:30% 30% 30% 30%;
}
.img5 {
  background: #A0A0FF;
  background-size: cover;
  border-radius:30% 30% 30% 30%;
}
/*푸터 시계 css값*/
#clock {
  position: relative;
  text-align: center;
  left: -16px;
}

/*메뉴*/
.dropbtn {
    background-color: #A0A0FF;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 30px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #A0A0FF;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #A0A0FF;}
.dev1{
  text-decoration: none;
}
.dev1:link { color: black;}
.dev1:active { color: black;
.devsns1 {
  position: relative;
  left: 10px;
  bottom: 14px;
}
.dev2{
  text-decoration: none;
}
.dev2:link { color: black;}
.dev2:active { color: black;
.devsns2 {
  position: relative;
  left: 10px;
  bottom: 14px;
}

